.header {
  margin: 0 160px;
  padding-bottom: 45px;

  .header__title {
    line-height: 45px;
    font-size: 16px;
    margin: 0 0 45px 0;
    border-left: 5px solid #e4e4e4;
    padding-left: 15px;
    font-family: "Roboto Regular", sans-serif;
  }

  .header__tabs {
    .tabs__button {
      cursor: pointer;
      position: relative;
      border: none;
      border-bottom: 1px dotted #e4e4e4;
      background: none;
      font-size: 16px;
      padding: 0 0 15px 0;
      margin: 0 20px;
      text-align: left;
      outline: none;
      transition: 500ms;
      width: 245px;
      text-transform: uppercase;
      box-sizing: border-box;
    }

    .tabs__button:not(:first-child) {
      margin-left: 30px;
    }

    .tabs__button:hover {
      border-color: black;
      transition: 100ms;
      border-style: dot-dot-dash;
    }

    .tabs__button:active {
      transition: 50ms;
      background: #e4e4e4;
    }

    .tabs__button-medium {
      font-family: "Roboto Medium", sans-serif;
    }

    .tabs__button-gray {
      font-family: "Roboto Regular", sans-serif;
      color: #B7B7B7
    }

    .tabs__button-black {
      font-family: "Roboto Regular", sans-serif;

    }

    .tabs__button::after {
      position: absolute;
      content: "";
      left: -20px;
      top: 0;
      bottom: 0;
      width: 5px;
      background-color: #e4e4e4;
    }
  }
}

@media only screen and (max-width: 1240px) {
.header {
  margin: 0 30px;
  .header__tabs {
    display: flex;
    flex-direction: column;
    .tabs__button {
      font-size: 2em;
      width: 100%;

      margin: 5px 0 !important;
    }
  }
}
}