@mixin operationIco($operation) {
  content: $operation;
  position: absolute;
  right: -8px;
  bottom: 25px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: gray;
  color: white;
}

.table__plus-ico::after {
  @include operationIco('+');
}

.table__equal-ico::after {
  @include operationIco('=');
}

.table__info-button::after,
.table__info-button__for-title::after,
.table__question-button::before,
.table__error-button::before,
.table__error-button__for-button::before {
  position: absolute;
  top: 0;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  font-weight: 400;
}

.table__question-button::before {
  right: 10px;
  content: '?';
  background-color: #2299fd;
  font-size: 13px;
}

.table__error-button::before {
  right: 10px;
  content: '-';
  background-color: #c80000;
  font-size: 18px;
  z-index: 999;
}

.table__error-button__for-button::before {
  right: -20px;
  top: -8px;
  content: '-';
  background-color: #c80000;
  font-size: 18px;
}

.table__info-button__for-title::after {
  content: '!';
  background-color: #2299fd;
  right: -15px;
  font-size: 12px;
  transform: rotate(180deg);
}

.table__error-button__for-button:hover .hover-block__cell,
.table__error-button__for-button:hover .hover-block,
.table__info-button__for-title:hover .hover-block__how-to,
.main-income-statement__title.table__info-button__for-title:hover .hover-block__how-to__title,
.table__info-button:hover .hover-block__cell__how-to,
.table__error-button:hover .hover-block__cell {
  display: block !important;
}

.hover-block__cell {
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  display: none;
  font-size: 10px;
  color: #5e5e5e;
  position: absolute;
  top: -60px;
  left: -450px;
  width: 400px;
  padding: 15px;
}

.hover-block {
  z-index: 1000;
  display: none;
  font-size: 10px;
  color: #5e5e5e;
  position: absolute;
  top: -45px;
  left: 15px;
  width: 400px;
}

.hover-block__cell__how-to {
  z-index: 1000;

  display: none;
  font-size: 10px;
  color: #5e5e5e;
  position: absolute;
  top: -5px;
  left: -30px;
  width: 400px;
}

.hover-block__how-to {
  z-index: 1000;

  display: none;
  font-size: 10px;
  color: #5e5e5e;
  position: absolute;
  right: -421px;
  top: -15px;
  width: 400px;
}

.hover-block__how-to__title {
  z-index: 1000;

  display: none;
  font-size: 10px;
  color: #5e5e5e;
  position: absolute;
  right: -130px;
  top: 0;
  width: 100px;
}


.table__info-button::after {
  content: '!';
  background-color: #2299fd;
  right: 10px;
  font-size: 12px;
  transform: rotate(180deg);
}

.expenses__ico::before {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  content: '—';
  left: -35px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background: #ebebeb;
  color: red;
}

@media only screen and (max-width: 1750px) {
  .table__plus-ico::after,
  .table__equal-ico::after {
    display: none !important;
  }

  .hover-block__cell {
    left: -250px !important;
  }
}

@media only screen and (max-width: 1240px) {
  .table__error-button__for-button .hover-block {
    top: 0;
    left: 280px;
  }
  .hover-block__how-to {
    width: 100px;
    right: -130px;
  }
}