@import "mixins";

.main.main-income-statement {
  .main-container {
    .main-income-statement__title {
      position: relative;
      margin: 0;
      font-size: 27px;
      font-family: "Roboto Regular", sans-serif;
    }

    .main-income-statement__description {
      margin: 10px 0 5px 0;
      font-size: 9px;
      font-family: "Roboto Regular", sans-serif;
    }

    .flex-center {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .right-block {
        padding: 0 45px 0 5px;

        .right-block__quarterly-button {
          padding: 0 15px 0 0;
          color: black;
          text-decoration: none;
        }


        .right-block__annual-button {
          margin: 0 0 0 14px;
          position: relative;
          color: black;
          text-decoration: none;
        }

        .right-block__annual-button::before {

          position: absolute;
          content: '';
          width: 1px;
          height: 25px;
          background-color: #DBDADA;
          left: -15px;
        }
      }
    }

    .main-income-statement__revenue {
      display: flex;
      position: relative;
      padding: 0 0 0 370px;
      transition: 150ms;

      margin: 0 0 0 5px;

      .revenue__container {
        @include statContainer;
      }

      .container__leaving-block {
        @include statsStyles;

        .leaving-block__sum-percent {
          color: #124012;
        }
      }
    }

    @include table;
  }

  .main-income-statement__expenses {
    display: flex;
    position: relative;
    padding: 0 0 0 370px;
    transition: 150ms;
    margin: 0 0 0 5px;


    .expenses__container {
      @include statContainer;
    }

    .container__leaving-block {
      @include statsStyles;

      .leaving-block__sum-percent {
        color: red;
      }
    }

  @include table;
  }


}


@media only screen and (max-width: 1750px) {
  .main-container {
    .main-income-statement__title {
      font-size: 2em !important;
    }
    .main-income-statement__description {
      font-size: 1.6em !important;
    }

    .right-block {
      font-size: 1.6em !important;
    }
  }
}


@media only screen and (max-width: 640px) {
  .main-container {
    .main-income-statement__title {
      font-size: 2.3em !important;
    }
    .main-income-statement__description {
      font-size: 1.9em !important;
    }

    .right-block {
      font-size: 1.9em !important;
    }
  }
}