@mixin statsStyles() {
  .leaving-block__title {
    font-size: 18px;
    position: relative;
    display: table;
  }

  .selected-item {
    position: absolute;
    top: 0;
    right: -35px;
    width: 105px;
    height: 70px;
    text-align: center;
    z-index: 999;
    background-color: #f8d2d2;
    color: #1e1919;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .leaving-block__description {
    font-size: 10px;
    letter-spacing: 0.1px;
    padding-right: 71px;
  }
  .leaving-block__sum-percent {
    font-size: 24px;
    font-weight: 400;

    margin: 20px 0 0 0;

  }
  .leaving-block__stats {
    display: flex;

    .stats__square {
      width: 75px;
      height: 75px;
      border: 1px dotted #000000;
      box-sizing: border-box;
      display: flex;
    }

    .stats__cell-description {
      font-size: 10px;

      .cell-description__element {
        display: flex;

        .element__square {
          width: 10px;
          display: inline-block;
          margin: 0 8px 0 10px;
          height: 10px;
          border: 1px solid black;
        }
      }
    }

  }
}

@mixin table {
  margin: 5px;
  position: relative;
  .table__header-row-element {
    height: 67px;
    position: relative;

    .table__header-column-element {
      font-size: 12px;
      text-align: center;
      height: 65px;

      .header-column-element__bold {
        font-weight: bold;
      }

      position: relative;
    }

    .table__header-column-element::before {
      position: absolute;
      content: '';
      width: 1px;
      height: 40px;
      right: -1px;
      top: 15px;
      background-color: #ebebeb;
    }

    .header-row-element-left-arrow {
      display: none;
      position: absolute;

      border-top: 25px solid transparent;
      border-right: 20px solid #ebebeb;
      border-bottom: 25px solid transparent;

      left: 0;
      top: 20%;
    }

    .header-row-element-right-arrow {
      display: none;

      position: absolute;

      border-top: 25px solid transparent;
      border-right: 20px solid #ebebeb;
      border-bottom: 25px solid transparent;
      transform: rotate(180deg);
      right: 0;
      top: 20%;
    }
  }


  .table__body-column-element-title {

    width: 350px;
    height: 30px;
    display: flex;
    text-align: left;
    align-items: center;
    font-size: 12px;
    padding: 0 0 0 20px;
    font-family: "Roboto Regular", sans-serif;
  }
  .table__body-column-element.note-block {
    background: black;
  }
  .table__body-row-element {
    .table__body-column-element {
      width: 80px;
      height: 30px;
      font-size: 12px;
      font-family: "Roboto Regular", sans-serif;
      text-align: center;
    }

    .table__body-column-element.body-column-element__note {
      position: relative;

      .note-block {
        background-color: #e4e4e4;
        display: none;
        position: absolute;
        box-sizing: border-box;
        top: -58px;
        border: 1px solid #000;
        width: 200px;
        height: auto;
        content: '';
        right: 75px;
      }

      .note-block::before {
        display: none;
        content: '';
        bottom: -34px;
        background: #000;
        left: 235px;
        position: absolute;
        width: 1px;
        height: 95px;
        transform: rotate(-53deg);
      }
    }

    .table__body-column-element.body-column-element__note::before {
      content: '';
      top: -3px;
      right: -1px;
      position: absolute;
      border-top: 5px solid transparent;
      border-right: 5px solid red;
      border-bottom: 5px solid transparent;

      transform: rotate(135deg);
    }

    .table__body-column-element.body-column-element__note:hover .note-block {
      display: block;
    }


    height: 30px;
  }
  .table__body-row-element.body-row-element__nested {
    .table__body-column-element-title {
      padding-left: 40px;
    }
  }

  .table__body-row-element.body-row-element__footer {
    .footer__column-element-title {
      border-bottom: 1px solid black;
      border-top: 1px solid black;
      font-weight: bold;
      font-family: "Roboto Bold", sans-serif;
      font-size: 12px;
      padding: 0 0 0 20px;
    }

    .footer__column-element {
      border-bottom: 1px solid black;
      border-top: 1px solid black;
      text-align: center;
      font-weight: bold;
      font-size: 12px;
      font-family: "Roboto Bold", sans-serif;
    }
  }

  .table__body-row-element:nth-child(odd) {
    background-color: #ebebeb;
  }

}


@mixin statContainer {
  background-color: white;
  width: 370px - 40;
  position: absolute;
  left: 0;
  height: 100%;
  transition: 150ms;

  .container__leave-block-button {
    background-color: #fff;
    position: absolute;
    right: -35px;
    top: 0;
    bottom: 0;
    width: 30px;
    border-right: 1px solid #ebebeb;
  }

  .container__leave-block-button::before {
    content: '';
    position: absolute;
    border-top: 35px solid transparent;
    border-right: 20px solid #ebebeb;
    border-bottom: 35px solid transparent;
    transition: 200ms;


    right: 0;
    top: 50%;
    margin: -50px 0 0 0;
  }
}

@media only screen and (max-width: 1750px) {
  .table {
    .table__body-column-element-title {
      width: 200px !important;
      height: auto !important;
      padding: 15px !important;
      font-size: 1.6em !important;
    }

    .table__body-column-element {
      width: 1280px !important;
      font-size: 1.5em !important;
    }

    .table__header-column-element {
      display: none !important;
      font-size: 1.5em !important;
    }

    .table__body-column-element {
      display: none !important;
    }

    .header-row-element-left-arrow,
    .header-row-element-right-arrow {
      display: flex !important;
    }


    .table__header-column-element.for-mobile {
      display: table-cell !important;
    }

    .table__body-column-element.for-mobile {
      display: table-cell !important;
    }

    .footer__column-element-title {
      font-size: 1.6em !important;
    }

    .footer__column-element {
      display: none !important;
      font-size: 1.6em !important;
    }

    .footer__column-element.for-mobile {
      display: table-cell !important;
    }
  }

  .container__leaving-block {
    .leaving-block__title {
      font-size: 1.8em !important;
    }

    .leaving-block__description {
      font-size: 1.6em !important;
    }

    .leaving-block__sum-percent {
      font-size: 1.8em !important;
    }

    .leaving-block__stats {
      .stats__square {
        width: 200px !important;
        height: 200px !important;
      }

      .stats__cell-description {
        .cell-description__element {
          font-size: 1.6em !important;
        }
      }
    }
  }
}


