@import "mixins.scss";
@import "toggle";
@import "icons";

body {
  margin: 0;
  font-family: "Roboto Medium", sans-serif;

  .main-container {
    overflow: hidden;
    margin: 0 30px;
    padding: 0 0 0 40px;
  }

  @import "header";

  @import "main";
}

