.hide {
  display: none;
}


.hideStat {
  display: none;
  transition: 150ms;
  transform: translateY(-500px);

}
.hideStatParent {
  width: 0 !important;
  transition: 400ms;

}

.slideTable {
  padding: 0 0 0 165px !important;
  transition: 400ms;
}

.changeArrow::before {
  transform: rotate(180deg);
  transition: 200ms;
}

@media only screen and (max-width: 1240px) {
  .slideTable {
    padding: 0 0 0 40px !important;
    transition: 400ms;
  }
}